body {
    margin: 0px;
    padding: 0px;
}
.carousel {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 200px;
    max-height: 300px;
    background: var(--material-grey-100);
    .mdc-fab {
        position: absolute;
        bottom: -28px;
        right: 28px;
        z-index: 5;
        --mdc-theme-secondary: var(--material-blue-500);
    }
    .carousel-content {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        .carousel--item {
            position: absolute;
            top: 0px;
            left: -100%;
            width: 100%;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            transition: 0s;
            visibility: hidden;
            opacity: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .carousel--item__header {
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-start;
                align-items: center;
                padding: 8px;
                opacity: 0;
                z-index: 5;
            }
            .carousel--item__space {
                height: 100%;
            }
            .carousel--item__description {
                width: 100%;
                height: auto;
                padding: 8px 16px;
                transition: all 0.4s;
                background: var(--material-grey-50);
                opacity: 0;

            }
        }
        .carousel--item-active {
            visibility: visible;
            opacity: 1;
            left: 0px;
        }

    }

    .vertical-button-container  {
        position: absolute;
        top: 0px;
        width: 96px;
        height: 100%;
        background: transparent;
        display: grid;
        opacity: 0;
        transition: all 0.4s;
        place-items: center;
        z-index: 4;
    }
    .left-button-container {
        left: 0px;
    }
    .right-button-container {
        right: 0px;
    }
    &:hover {
        content: "";
        & .vertical-button-container {
            opacity: 1;
            transition: all 0.2s;
        }
        .carousel-content {
            .carousel--item-active {
                .carousel--item__header, .carousel--item__description {
                    opacity: 1;
                    transition: all 0.2s;
                }
            }
        }
    }
}