@import url('./material-colors.css');
* {
    box-sizing: border-box;
}
.space { width: 100%; }
.comments-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background: var(--material-grey-100);
    border: 1px solid var(--material-grey-300);
    .comments-container--header {
        white-space: nowrap;
        width: 100%;
        height: 48px;
        padding: 0px 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid var(--material-grey-300);
    }
    .comments-container--body {
        width: 100%;
        height: 100%;
        .comment {
            padding: 16px;
            border-bottom: 1px solid var(--material-grey-300);
        }
    }
    .comments-container--footer {
        padding: 4px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        .txtComentario {
            width: calc(100% - 30px);
            min-height: 48px;
            max-height: 300px;
            height: 48px;
            resize: vertical;
        }
    }
}
.comment {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    flex-direction: column;
    .comment-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 8px;
        align-items: center;
        .comment-user-name {
            color: var(--material-grey-900);
            text-decoration: none;
            font-weight: 500;
            white-space: nowrap;
        }
        .comment-meta {
            color: var(--material-grey-600);
            white-space: nowrap;
        }
        .moreButtonIcon {
            cursor: pointer;
        }
    }
    .comment-content {
        width: 100%;
        margin: 8px 0px !important;
    }
}