.enterprise-select--dialog .mdc-dialog__header,
.boat-select--dialog .mdc-dialog__header,
.dock-select--dialog .mdc-dialog__header {
    display: flex;
    flex-direction: column;
    padding-top: 14px;
    .mdc-dialog__title {
        display: none;
    }
    .mdc-text-field {
        width: 100%;
    }
}