@import url('./material-colors.css');

.votes-container {
    display: inline-block;
    width: auto;
    border-radius: 6px;
    border: 1px solid var(--material-grey-300);
    .button__downvote {
        --mdc-theme-primary: red;
    }
    margin: 16px;
}