#root {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
    padding-top: 15px;
    .grid-item {
        width: 100%;
        height: auto;
        padding: 12px;
        place-items: center;
    }
    .grid-item > * {
        width: 100%;
    }
}