* {
    box-sizing: border-box;
}
header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 72px;
    border-bottom: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
}
main {
    position: fixed;
    top: 72px;
    left: 0px;
    width: 100%;
    height: calc(100% - 72px);
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
}

.main {
    width: 300px;
}

.rtlCell {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 15px;
}
.fullWidth { width: 100% }
.flex-down {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}
.button-loading-spinner {
    gap: 10px;
}

.jBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.jBar .l {
    justify-self: flex-start;
    align-self: center;
}
.jBar .r {
    justify-self: flex-end;
    align-self: center;
}
.page-content {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}