* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 72px;
    border-bottom: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 15px;

}
header nav {
    min-width: 72px;
    height: 72px;
}
header .space {
}
header .hdr-cnt-chl {
    display: grid;
    place-items: center;
}
main {
    position: fixed;
    top: 72px;
    left: 0px;
    width: 100%;
    height: calc(100% - 72px);
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
}

.main {
    width: 300px;
}

.rtlCell {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 15px;
}
.fullWidth { width: 100% }
.tab-cnt {
    width: 100%;
    padding: 0px 15px;
}
.flex-down {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}
.button-loading-spinner {
    gap: 10px;
}
.button-loading-spinner {
    gap: 10px;
}
.flex-edtbl-dt {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.jBar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.jBar .l {
    justify-self: flex-start;
    align-self: center;
}
.jBar .r {
    justify-self: flex-end;
    align-self: center;
}
.page-content {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}
.flx-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.visual-rep {
    display: grid;
    place-items: center;
    gap: 5px;
    width: 100%;

    ._avtar {
        margin-bottom: 5px;
    }
}
.voter {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .total-votes {
    }
}


/** COMMENT SECTION **/

.comment {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content;
    margin-top: 5px;
    margin-bottom: 5px;


    .comment_start {
        width: max-content;
        height: 100%;
        padding: 6px 15px;
        display: flex;
        justify-content: center;
        align-items: start;
    }
    .comment_content {
        padding-top: 2px;
        width: 100%;
        .rw {
            text-align: start;
            width: 100%;
            .editingContainer {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: max-content;
                gap: 10px;
                & textarea {
                    width: 100%;
                    height: max-content;
                    resize: vertical;
                }
                .horFlexEnd {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: end;
                    align-items: center;
                    gap: 10px;
                }
            }
            & p {
                margin-top: 0px;
            }
        }
        .act {
            opacity: 0.7;
        }
        .act::first-letter {
            text-transform: capitalize;
        }
    }
}
.loadMoreBtn {
    width: 100%;
    margin: 10px;
    & button {
        width: 100%;
    }
}
.comments_createBox {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
    width: 100%;
    .cbx_textarea {
        width: 100%;
    }
}

/** END COMMENT SECTION **/
/** START HISTORY SECTION **/
.historyEvent {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    .title {

    }
    .end {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 5px;
        margin: 5px;
        & i {
            opacity: 0.8;

        }
        & i::first-letter {
            text-transform: capitalize;
        }
    }
}
/** END HISTORY SECTION **/
/** REGIONS PAGE (SEARCH) **/
.searchbar {
    display: flex;
    width: 100%;
    height: max-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    ._row {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-items: center;
        ._searchInput {
            width: 100%;
        }
    }
}
.regionTypeSelector {
    width: 100%;
}
/** END REGIONS PAGE (SEARCH **/
.fullWidth {
    width: 100%;
}
.fstart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start !important;
    align-items: center !important;
}


.qphones {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    justify-content: center;
    align-items: center;
    .list-of-phones {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
        height: max-content;
        justify-content: center;
        align-items: center;
        .phone-item {
            display: flex;
            flex-direction: row;
            gap: 15px;
            width: 100%;
            .phone-data {
                width: 100%;
                display: flex;
                justify-content: start;
                align-items: center;
            }
        }
    }
}
.heightAuto {
    height: max-content !important;
}
.load_moreBtn {
    width: 90%;
}



.pic_all {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    .rw {
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: space-between;
        .commentHandler {
            width: 100%;
            height: max-content;
        }
    }
}
.fx-rw {
    display: flex;
    gap: 10px;
}